{% extends "generic/dialog.html" %}
{% load i18n %}

{% block dialog_title %}{% trans "INFORMATION" %}{% endblock %}

{% block dialog_content %}
<div class="text-center">
    <a class="btn btn-primary" href="{% url 'password_change' %}">{% trans "CHANGE PASSWORD" %}</a>
    <p></p>
    <div>
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button class="btn btn-primary" type="submit">{% trans "SIGN OUT" %}</button>
        </form>
    </div>
</div>
{% endblock %}