<div class="dropdown mt-1">
    <a class="btn btn-primary dropdown-toggle" href="#" id="{{ field }}_list" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Select</a>
    <div class="dropdown-menu" aria-labelledby="{{ field }}_list" onclick="event.stopPropagation()">
        {% for option in options %}
        <a class="dropdown-item mt-1 mb-0 py-0" href="#">
            <input class="form-check-input mt-2 py-0" name="input_{{ field }}__icontains" type="radio" value="{{ option }}" id="input_{{ field }}_option_{{ forloop.counter }}"
                field-id="input_{{ field }}__icontains">
            <label class="btn btn-primary btn-sm my-0" for="input_{{ field }}_option_{{ forloop.counter }}">{{ option }}</label>
        </a>
        {% endfor %}
    </div>
</div>