<th>
    <div class="input-group bootstrap-timepicker timepicker mb-1">
        <input id="input_{{ field }}__gte" type="text" input-type="duration" class="form-control input-small" placeholder="Min" name="{{ field }}__gte">
        <div class="input-group-append">
            <span class="btn btn-primary input-group-addon">
                <i class="bi bi-clock"></i>
            </span>
        </div>
    </div>

    <div class="input-group bootstrap-timepicker timepicker mb-1">
        <input id="input_{{ field }}__lte" type="text" input-type="duration" class="form-control input-small" placeholder="Max" name="{{ field }}__lte">
        <div class="input-group-append">
            <span class="btn btn-primary input-group-addon">
                <i class="bi bi-clock"></i>
            </span>
        </div>
    </div>

    <div class="input-group bootstrap-timepicker timepicker mb-1">
        <input id="input_{{ field }}" type="text" input-type="duration" class="form-control input-small" placeholder="Exact" name="{{ field }}">
        <div class="input-group-append">
            <span class="btn btn-primary input-group-addon">
                <i class="bi bi-clock"></i>
            </span>
        </div>
    </div>
</th>